/* Colors */
$htw-green-color: #77b900;
$htw-gray-color: #292929;

/* Text-Colors */
$text-color-gray: #666;

/* Breakpoints according to: https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;