@import "~bootstrap/scss/bootstrap";
@import "_variables.scss";
@import "_htw-button.scss";

.bg-htw-green {
  background: $htw-green-color;
}

.border-htw-green {
  border-color: $htw-green-color;
}

.required::after {
  content:" *";
  color: $danger;
}

.semi-required::after {
  content:" *";
  color: blue;
}